c_orange = #e6af4b
c_red = #e05038
c_pink = #f2cbbc
c_green = #192418

@font-face
	font-family "Linotte Regular"
	font-style normal
	src url(../fonts/Linotte-Light.otf)

body
	font-family "Linotte Regular"
	background-color c_orange
	color c_green

.settings
	position absolute
	display flex
	flex-direction column
	justify-content center
	align-items center
	left 0
	right 0
	top 0
	bottom 0
	margin auto
	&_title
		font-size 150%
		margin 15px
		white-space nowrap
		
	
.range
	&_item
		display flex
		justify-content space-between
		align-items center
		width 300px
		margin 10px
	&_name
		display block
		width 90px
	&_output
		display block
		width 25px
	&_line
		-webkit-appearance none 	// removes default webkit styles
		background-color c_pink
		border-radius 3px
		width 150px
		height 5px
		&::-webkit-slider-thumb
			-webkit-appearance none
			height 16px
			width 16px
			border-radius 50%
			background c_red
			content 'A'
			&::after
				position absolute
				display block
				content 'A'
				width 10px
				height 10px
				background-color white
		&:focus
			outline none